/* mobile first */
p{
    color: #0000ff;
    background-color: #00ffff;
}
/* version tablette */
@media screen and (min-width: 376px)and (max-width: 1025px){
    p{
        background-color: #ffff00;
    }
}
/* version ordi */
@media screen and (min-width: 1025px){
    p{
        color: #008000;
        background-color: #ffa500;
    }
}

