/* mobile */
@media screen and (max-width:376px){
    div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0%;
        padding: 0%;
    }
    /* Photo + badge */
    .image{
        position: relative;
    }
    img{
        display: flex;
        width: 100vw;
        height: fit-content;
        object-fit:contain;
    }
    .badge{
        position: absolute;
        z-index: 1;
        top: 10%;
        right:10%;
        padding: 5px;
        background-color: rgb(237, 174, 80);
        color: white;
        border-radius: 10%;
    }
    /* Texte de la card */
    div p:nth-of-type(1){
        display: flex;
        font-family: 'Franklin Gothic Medium', sans-serif;
    } 
    /* Bouton "Voir l'animal" */
    .button{
        display:flex;
        margin: 5%;
        padding: 5px;
        width: 35%;
        background-color: rgb(85, 195, 85);
        border-radius: 10%;
    }  
    .button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: white;
    }
}
/* tablette */
@media screen and (min-width:376px) and (max-width:1025px){
    body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 50%;
        height: auto;
        margin: 0%;
        padding: 0%;
    }
    /* Photo + badge */
    .image{
        position: relative;
    }
    img{
        display: flex;
        /* object-fit:contain; */
        width: 40vw;
        height:fit-content;
        justify-content: center;
    }
    .badge{
        position: absolute;
        z-index: 1;
        top: 10%;
        right:100px;
        padding: 5px;
        background-color: rgb(237, 174, 80);
        color: white;
        border-radius: 10%;
    }
    /* Texte de la card */
    div p:nth-of-type(1){
        display: flex;
        font-family: 'Franklin Gothic Medium', sans-serif;
    } 
    /* Bouton "Voir l'animal" */
    .button{
        display:flex;
        margin: 5%;
        padding: 5px;
        width: 25%;
        justify-content: center;
        background-color: rgb(85, 195, 85);
        border-radius: 10%;
    }  
    .button a{
        display: flex;
        text-decoration: none;
        color: white;
    }
}
/* ordi */
@media screen and (min-width:1025px){
    .card{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-around;
    }
    /* Photo + badge */
    img{
        display: flex;
        width: 35vw;
        height:fit-content;
        justify-content: center;
    }
    .image{
        position: relative;
        padding-right: 5%;
    }
    .badge{
        position: absolute;
        z-index: 1;
        top: 10%;
        right:60px;
        padding: 5px;
        background-color: rgb(237, 174, 80);
        color: white;
        border-radius: 10%;
    }
    /* Texte de la card */
    
    div p:nth-of-type(1){
        font-family: 'Franklin Gothic Medium', sans-serif;
    }  
    /* Bouton "Voir l'animal" */
    .button{
        display:flex;
        margin: 5%;
        padding: 5px;
        width: 25%;
        justify-content: center;
        background-color: rgb(85, 195, 85);
        border-radius: 10%;
    }  
    .button a{
        display: flex;
        text-decoration: none;
        color: white;
    }
}

