nav {
  background-color: #7fffd4;
}
ul{
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width: 376px) {
  ul#menu li:not(:first-child){
    display: none;
  }
  #menu li{
    list-style: none;
  }
  label {
    display: flex;
    background-color: #7fffd4;
  }
}

@media screen and (min-width: 376px) {
  label {
    display: none;
  }
  #menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  a {
    text-decoration: none;
  }
}